USE [master]
GO
/****** Object:  Database [GYM_EQUIPMENT]    Script Date: 6/25/2023 7:36:08 PM ******/
CREATE DATABASE [GYM_EQUIPMENT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GYM_EQUIPMENT2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\GYM_EQUIPMENT2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GYM_EQUIPMENT2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\GYM_EQUIPMENT2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GYM_EQUIPMENT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GYM_EQUIPMENT]
GO
/****** Object:  Table [dbo].[CT_VUNGTAP]    Script Date: 6/25/2023 7:36:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_VUNGTAP](
	[MAVT] [nvarchar](10) NOT NULL,
	[IDTHIETBI] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_CT_VUNGTAP] PRIMARY KEY CLUSTERED 
(
	[MAVT] ASC,
	[IDTHIETBI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHO]    Script Date: 6/25/2023 7:36:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHO](
	[MAKHO] [nvarchar](10) NOT NULL,
	[TENKHO] [nvarchar](50) NOT NULL,
	[DIACHI] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_KHO] PRIMARY KEY CLUSTERED 
(
	[MAKHO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHA_CUNG_CAP]    Script Date: 6/25/2023 7:36:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHA_CUNG_CAP](
	[MANCC] [nvarchar](10) NOT NULL,
	[TENNCC] [nvarchar](50) NOT NULL,
	[EMAIL] [nvarchar](50) NOT NULL,
	[SDT] [nvarchar](10) NOT NULL,
	[DIACHI] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_NHA_CUNG_CAP] PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAN_VIEN]    Script Date: 6/25/2023 7:36:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAN_VIEN](
	[MANV] [nvarchar](10) NOT NULL,
	[HO] [nvarchar](50) NOT NULL,
	[TEN] [nvarchar](10) NOT NULL,
	[PHAI] [nvarchar](3) NOT NULL,
	[NGAYSINH] [date] NULL,
	[DIACHI] [nvarchar](100) NULL,
	[SDT] [nvarchar](10) NOT NULL,
	[EMAIL] [nvarchar](100) NOT NULL,
	[CHUCVU] [nvarchar](50) NOT NULL,
	[NGAYBDQL] [date] NULL,
 CONSTRAINT [PK_NHAN_VIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEU_NHAP]    Script Date: 6/25/2023 7:36:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEU_NHAP](
	[MAPN] [nvarchar](10) NOT NULL,
	[NGAYNHAP] [date] NOT NULL,
	[MANV] [nvarchar](10) NULL,
 CONSTRAINT [PK_PHIEU_NHAP] PRIMARY KEY CLUSTERED 
(
	[MAPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEU_XUAT]    Script Date: 6/25/2023 7:36:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEU_XUAT](
	[MAPX] [nvarchar](10) NOT NULL,
	[NGAYXUAT] [date] NOT NULL,
	[MANV] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_PHIEU_XUAT] PRIMARY KEY CLUSTERED 
(
	[MAPX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONG]    Script Date: 6/25/2023 7:36:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONG](
	[MAPHONG] [nvarchar](10) NOT NULL,
	[TENPHONG] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PHONG] PRIMARY KEY CLUSTERED 
(
	[MAPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUYEN_TRUY_CAP]    Script Date: 6/25/2023 7:36:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUYEN_TRUY_CAP](
	[MAQUYEN] [nvarchar](10) NOT NULL,
	[TENQUYEN] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_QUYEN_TRUY_CAP] PRIMARY KEY CLUSTERED 
(
	[MAQUYEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SOSERI]    Script Date: 6/25/2023 7:36:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SOSERI](
	[SOSERI] [nvarchar](10) NOT NULL,
	[GIA] [int] NULL,
	[IDTHIETBI] [nvarchar](10) NOT NULL,
	[TRANGTHAI] [int] NOT NULL,
	[MAPX] [nvarchar](10) NULL,
	[MAPN] [nvarchar](10) NOT NULL,
	[MAPHONG] [nvarchar](10) NULL,
	[MAKHO] [nvarchar](10) NULL,
	[MANCC] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_SOSERI] PRIMARY KEY CLUSTERED 
(
	[SOSERI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAI_KHOAN]    Script Date: 6/25/2023 7:36:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAI_KHOAN](
	[USERNAME] [nvarchar](10) NOT NULL,
	[PASS] [nvarchar](200) NOT NULL,
	[MAQUYEN] [nvarchar](10) NOT NULL,
	[TRANGTHAI] [int] NOT NULL,
 CONSTRAINT [PK_TAI_KHOAN] PRIMARY KEY CLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THIET_BI]    Script Date: 6/25/2023 7:36:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THIET_BI](
	[IDTHIETBI] [nvarchar](10) NOT NULL,
	[TENTHIETBI] [nvarchar](50) NOT NULL,
	[MOTA] [nvarchar](2000) NULL,
	[THUOCTINHKHAC] [nvarchar](50) NULL,
	[ANH] [varchar](200) NULL,
	[HDSD] [nvarchar](200) NULL,
 CONSTRAINT [PK_THIET_BI] PRIMARY KEY CLUSTERED 
(
	[IDTHIETBI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VUNG_TAP]    Script Date: 6/25/2023 7:36:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VUNG_TAP](
	[MAVT] [nvarchar](10) NOT NULL,
	[TENVT] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_VUNG_TAP] PRIMARY KEY CLUSTERED 
(
	[MAVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CT_VUNGTAP] ([MAVT], [IDTHIETBI]) VALUES (N'BUNG', N'TB02')
INSERT [dbo].[CT_VUNGTAP] ([MAVT], [IDTHIETBI]) VALUES (N'CHAN', N'KIMBOPTAY')
INSERT [dbo].[CT_VUNGTAP] ([MAVT], [IDTHIETBI]) VALUES (N'CHAN', N'TB02')
GO
INSERT [dbo].[KHO] ([MAKHO], [TENKHO], [DIACHI]) VALUES (N'K01', N'KHO CHỨA ĐỒ HƯ', N'97 MAN THIỆN, Q9')
INSERT [dbo].[KHO] ([MAKHO], [TENKHO], [DIACHI]) VALUES (N'K02', N'KHO CHỨA ĐỒ MƯỚI , CHƯA SỬ DỤNG', N'97 MAN THIỆN')
INSERT [dbo].[KHO] ([MAKHO], [TENKHO], [DIACHI]) VALUES (N'K03', N'KHO SỬA CHỮA', N'97 MAN THIỆN')
GO
INSERT [dbo].[NHA_CUNG_CAP] ([MANCC], [TENNCC], [EMAIL], [SDT], [DIACHI]) VALUES (N'NCC01', N'KING SPORT', N'kingsport@gmail.com', N'1800 6862', N'1 KHỔNG TỬ, LONG CHÁNH, ĐỒNG NAI')
INSERT [dbo].[NHA_CUNG_CAP] ([MANCC], [TENNCC], [EMAIL], [SDT], [DIACHI]) VALUES (N'NCC02', N'LIFE SPORT', N'lifesport@gmail.com', N'1800 6807', N'77 PHẠM VĂN THUẬN, BIÊN HÒA, ĐỒNG NAI')
INSERT [dbo].[NHA_CUNG_CAP] ([MANCC], [TENNCC], [EMAIL], [SDT], [DIACHI]) VALUES (N'NCC03', N'SHOPPEE', N'shoppe@gmail.com', N'0698789654', N'hcm')
GO
INSERT [dbo].[NHAN_VIEN] ([MANV], [HO], [TEN], [PHAI], [NGAYSINH], [DIACHI], [SDT], [EMAIL], [CHUCVU], [NGAYBDQL]) VALUES (N'NV01', N'LÊ VĂN', N'A', N'NAM', CAST(N'2002-03-23' AS Date), N'QUẢNG NGÃI', N'0334551076', N'a@gmail.com', N'ADMIN', CAST(N'2022-02-05' AS Date))
INSERT [dbo].[NHAN_VIEN] ([MANV], [HO], [TEN], [PHAI], [NGAYSINH], [DIACHI], [SDT], [EMAIL], [CHUCVU], [NGAYBDQL]) VALUES (N'NV02', N'NGUYỄN VĂN', N'B', N'NAM', CAST(N'2002-09-15' AS Date), N'HÀ NỘI', N'045123798', N'b@gmail.com', N'NV', NULL)
INSERT [dbo].[NHAN_VIEN] ([MANV], [HO], [TEN], [PHAI], [NGAYSINH], [DIACHI], [SDT], [EMAIL], [CHUCVU], [NGAYBDQL]) VALUES (N'NV03', N'TRẦN VĂN', N'C', N'NAM', CAST(N'2000-07-08' AS Date), N'ĐÀ NẴNG', N'0379834562', N'c@gmail.com', N'NV', NULL)
GO
INSERT [dbo].[PHIEU_NHAP] ([MAPN], [NGAYNHAP], [MANV]) VALUES (N'PN01', CAST(N'2023-06-24' AS Date), N'NV01')
INSERT [dbo].[PHIEU_NHAP] ([MAPN], [NGAYNHAP], [MANV]) VALUES (N'PN02', CAST(N'2023-06-24' AS Date), N'NV01')
INSERT [dbo].[PHIEU_NHAP] ([MAPN], [NGAYNHAP], [MANV]) VALUES (N'PN04', CAST(N'2023-06-25' AS Date), N'NV01')
GO
INSERT [dbo].[PHIEU_XUAT] ([MAPX], [NGAYXUAT], [MANV]) VALUES (N'PX01', CAST(N'2023-06-25' AS Date), N'NV01')
GO
INSERT [dbo].[PHONG] ([MAPHONG], [TENPHONG]) VALUES (N'P01', N'PHÒNG THƯỜNG')
INSERT [dbo].[PHONG] ([MAPHONG], [TENPHONG]) VALUES (N'P02', N'PHÒNG THƯỜNG')
INSERT [dbo].[PHONG] ([MAPHONG], [TENPHONG]) VALUES (N'P03', N'PHÒNG VIP')
GO
INSERT [dbo].[QUYEN_TRUY_CAP] ([MAQUYEN], [TENQUYEN]) VALUES (N'Q1', N'NHANVIEN')
INSERT [dbo].[QUYEN_TRUY_CAP] ([MAQUYEN], [TENQUYEN]) VALUES (N'Q2', N'ADMIN')
GO
INSERT [dbo].[SOSERI] ([SOSERI], [GIA], [IDTHIETBI], [TRANGTHAI], [MAPX], [MAPN], [MAPHONG], [MAKHO], [MANCC]) VALUES (N'DT_A', 2000, N'VT', 2, NULL, N'PN02', NULL, N'K01', N'NCC01')
INSERT [dbo].[SOSERI] ([SOSERI], [GIA], [IDTHIETBI], [TRANGTHAI], [MAPX], [MAPN], [MAPHONG], [MAKHO], [MANCC]) VALUES (N'DT_B', 2000, N'VT', 1, NULL, N'PN02', NULL, N'K01', N'NCC01')
INSERT [dbo].[SOSERI] ([SOSERI], [GIA], [IDTHIETBI], [TRANGTHAI], [MAPX], [MAPN], [MAPHONG], [MAKHO], [MANCC]) VALUES (N'DT_C', 2000, N'VT', 1, NULL, N'PN02', NULL, N'K01', N'NCC01')
GO
INSERT [dbo].[TAI_KHOAN] ([USERNAME], [PASS], [MAQUYEN], [TRANGTHAI]) VALUES (N'NV01', N'202cb962ac59075b964b07152d234b70', N'Q2', 1)
INSERT [dbo].[TAI_KHOAN] ([USERNAME], [PASS], [MAQUYEN], [TRANGTHAI]) VALUES (N'NV02', N'202cb962ac59075b964b07152d234b70', N'Q1', 1)
INSERT [dbo].[TAI_KHOAN] ([USERNAME], [PASS], [MAQUYEN], [TRANGTHAI]) VALUES (N'NV03', N'202cb962ac59075b964b07152d234b70', N'Q1', 1)
GO
INSERT [dbo].[THIET_BI] ([IDTHIETBI], [TENTHIETBI], [MOTA], [THUOCTINHKHAC], [ANH], [HDSD]) VALUES (N'KIMBOPTAY', N'KÌM BÓP TẬP TAY', N'đẹp. cwsung cáp', NULL, N'D:\HK2_3\Gym_EquipMent\Gym\src\main\resources\Image_resources\loxotaptay.png', NULL)
INSERT [dbo].[THIET_BI] ([IDTHIETBI], [TENTHIETBI], [MOTA], [THUOCTINHKHAC], [ANH], [HDSD]) VALUES (N'MC', N'MÁY CHẠY', NULL, NULL, NULL, NULL)
INSERT [dbo].[THIET_BI] ([IDTHIETBI], [TENTHIETBI], [MOTA], [THUOCTINHKHAC], [ANH], [HDSD]) VALUES (N'TB01', N'CON LĂN ĐẨY', N'Con lăn đẩy bụng là một thiết bị nhỏ gọn và hiệu quả cho việc tập luyện cơ bụng. Với cấu trúc đặc biệt, nó giúp tăng cường sức mạnh và sự săn chắc cho cơ bụng. Bằng cách đẩy và kéo con lăn trước và sau, người dùng có thể tập trung vào cơ bụng, bắp đùi và lưng dưới. Thành quả là một bụng phẳng và săn chắc.', NULL, N'D:\HK2_3\Gym_EquipMent\Gym\src\main\resources\Image_resources\tataplungxo.png', N'ádsad')
GO
INSERT [dbo].[VUNG_TAP] ([MAVT], [TENVT]) VALUES (N'BUNG', N'VÙNG BỤNG')
INSERT [dbo].[VUNG_TAP] ([MAVT], [TENVT]) VALUES (N'CHAN', N'VÙNG CHÂN')
INSERT [dbo].[VUNG_TAP] ([MAVT], [TENVT]) VALUES (N'DUI', N'VÙNG ĐÙI')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_EMAILNCC]    Script Date: 6/25/2023 7:36:09 PM ******/
ALTER TABLE [dbo].[NHA_CUNG_CAP] ADD  CONSTRAINT [UK_EMAILNCC] UNIQUE NONCLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_SDTNCC]    Script Date: 6/25/2023 7:36:09 PM ******/
ALTER TABLE [dbo].[NHA_CUNG_CAP] ADD  CONSTRAINT [UK_SDTNCC] UNIQUE NONCLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_TENNCC]    Script Date: 6/25/2023 7:36:09 PM ******/
ALTER TABLE [dbo].[NHA_CUNG_CAP] ADD  CONSTRAINT [UK_TENNCC] UNIQUE NONCLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_EMAIL]    Script Date: 6/25/2023 7:36:09 PM ******/
ALTER TABLE [dbo].[NHAN_VIEN] ADD  CONSTRAINT [UK_EMAIL] UNIQUE NONCLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_SDT]    Script Date: 6/25/2023 7:36:09 PM ******/
ALTER TABLE [dbo].[NHAN_VIEN] ADD  CONSTRAINT [UK_SDT] UNIQUE NONCLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_USERNAME]    Script Date: 6/25/2023 7:36:09 PM ******/
ALTER TABLE [dbo].[NHAN_VIEN] ADD  CONSTRAINT [UK_USERNAME] UNIQUE NONCLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_TENTHIETBI]    Script Date: 6/25/2023 7:36:09 PM ******/
ALTER TABLE [dbo].[THIET_BI] ADD  CONSTRAINT [UK_TENTHIETBI] UNIQUE NONCLUSTERED 
(
	[IDTHIETBI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CT_VUNGTAP]  WITH CHECK ADD  CONSTRAINT [FK_CT_VUNGTAP_THIET_BI] FOREIGN KEY([IDTHIETBI])
REFERENCES [dbo].[THIET_BI] ([IDTHIETBI])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_VUNGTAP] CHECK CONSTRAINT [FK_CT_VUNGTAP_THIET_BI]
GO
ALTER TABLE [dbo].[CT_VUNGTAP]  WITH CHECK ADD  CONSTRAINT [FK_CT_VUNGTAP_VUNG_TAP] FOREIGN KEY([MAVT])
REFERENCES [dbo].[VUNG_TAP] ([MAVT])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_VUNGTAP] CHECK CONSTRAINT [FK_CT_VUNGTAP_VUNG_TAP]
GO
ALTER TABLE [dbo].[NHAN_VIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHAN_VIEN_TAI_KHOAN] FOREIGN KEY([MANV])
REFERENCES [dbo].[TAI_KHOAN] ([USERNAME])
GO
ALTER TABLE [dbo].[NHAN_VIEN] CHECK CONSTRAINT [FK_NHAN_VIEN_TAI_KHOAN]
GO
ALTER TABLE [dbo].[PHIEU_NHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_NHAP_NHAN_VIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHAN_VIEN] ([MANV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PHIEU_NHAP] CHECK CONSTRAINT [FK_PHIEU_NHAP_NHAN_VIEN]
GO
ALTER TABLE [dbo].[PHIEU_XUAT]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_XUAT_NHAN_VIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHAN_VIEN] ([MANV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PHIEU_XUAT] CHECK CONSTRAINT [FK_PHIEU_XUAT_NHAN_VIEN]
GO
ALTER TABLE [dbo].[SOSERI]  WITH CHECK ADD  CONSTRAINT [FK_SOSERI_KHO] FOREIGN KEY([MAKHO])
REFERENCES [dbo].[KHO] ([MAKHO])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SOSERI] CHECK CONSTRAINT [FK_SOSERI_KHO]
GO
ALTER TABLE [dbo].[SOSERI]  WITH CHECK ADD  CONSTRAINT [FK_SOSERI_NHA_CUNG_CAP] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHA_CUNG_CAP] ([MANCC])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SOSERI] CHECK CONSTRAINT [FK_SOSERI_NHA_CUNG_CAP]
GO
ALTER TABLE [dbo].[SOSERI]  WITH CHECK ADD  CONSTRAINT [FK_SOSERI_PHIEU_NHAP] FOREIGN KEY([MAPN])
REFERENCES [dbo].[PHIEU_NHAP] ([MAPN])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SOSERI] CHECK CONSTRAINT [FK_SOSERI_PHIEU_NHAP]
GO
ALTER TABLE [dbo].[SOSERI]  WITH CHECK ADD  CONSTRAINT [FK_SOSERI_PHIEU_XUAT] FOREIGN KEY([MAPX])
REFERENCES [dbo].[PHIEU_XUAT] ([MAPX])
GO
ALTER TABLE [dbo].[SOSERI] CHECK CONSTRAINT [FK_SOSERI_PHIEU_XUAT]
GO
ALTER TABLE [dbo].[SOSERI]  WITH CHECK ADD  CONSTRAINT [FK_SOSERI_PHONG] FOREIGN KEY([MAPHONG])
REFERENCES [dbo].[PHONG] ([MAPHONG])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SOSERI] CHECK CONSTRAINT [FK_SOSERI_PHONG]
GO
ALTER TABLE [dbo].[SOSERI]  WITH CHECK ADD  CONSTRAINT [FK_SOSERI_THIET_BI] FOREIGN KEY([IDTHIETBI])
REFERENCES [dbo].[THIET_BI] ([IDTHIETBI])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SOSERI] CHECK CONSTRAINT [FK_SOSERI_THIET_BI]
GO
ALTER TABLE [dbo].[TAI_KHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAI_KHOAN_QUYEN_TRUY_CAP] FOREIGN KEY([MAQUYEN])
REFERENCES [dbo].[QUYEN_TRUY_CAP] ([MAQUYEN])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[TAI_KHOAN] CHECK CONSTRAINT [FK_TAI_KHOAN_QUYEN_TRUY_CAP]
GO
USE [master]
GO
